.jumbotron{
    background-color: rgb(250, 80, 50);
    color: #fff;
}

.img-fluid{
    padding-top: 10px;
}

.btn{
    text-decoration: none;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px; /*flex grow y flex basis*/
    /*padding: 5px 0px;*/
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    /*justify-content: space-between;*/
}

.btn-reserva{
    width: 100%; /*el ancho de los botones ocupara todo el espacio disponible*/
    border-radius: 0px;
}

.footer-adress-icon{
    padding-right: 20px;
}