@yellow: rgb(255, 255, 0);
@red: rgb(250, 50, 50);

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.margenesInternos(@top, @right, @bottom, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron{
    background-color: @red;
    color: #fff;
}

.img-fluid{
    .margenesInternos(10px, 0px, 0px, 0px);
}

.btn{
    text-decoration: none;
}

footer{
    .margenesInternos(10px, 10px, 0px, 10px);
    background-color: @yellow;
    .margenes(10px, 0px)/*margin-top: 10px;*/
}

.card-hotel{
    flex: 1 150px; /*flex grow y flex basis*/
    /*padding: 5px 0px;*/
    justify-content: space-between;
    .margenes(10px, 10px);
    margin-right: 5px;
    /*justify-content: space-between;*/
}

.btn-reserva{
    width: 100%; /*el ancho de los botones ocupara todo el espacio disponible*/
    border-radius: 0px;
}

.footer-adress-icon{
    .margenesInternos(0px, 10px, 0px, 0px)
}