.jumbotron {
  background-color: #fa3232;
  color: #fff;
}
.img-fluid {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.btn {
  text-decoration: none;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #ffff00;
  margin-top: 10px;
  margin-bottom: 0px;
  /*margin-top: 10px;*/
}
.card-hotel {
  flex: 1 150px;
  /*flex grow y flex basis*/
  /*padding: 5px 0px;*/
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  /*justify-content: space-between;*/
}
.btn-reserva {
  width: 100%;
  /*el ancho de los botones ocupara todo el espacio disponible*/
  border-radius: 0px;
}
.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
